{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="close-alert alert alert-dismissible fade show {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function(){
    setTimeout(function(){
        $(".close-alert").fadeOut();
    }, 5000)
});
</script>