{% extends 'base.html' %}
{% load static %}

{% block page_title %}Acerca de Brooks{% endblock %}
{% block title %}Acerca de Brooks{% endblock %}

{% block page_css %}
<style>
    .markdown  h1{
        display: none;
    }

    .plot {
        margin-bottom: 30px;
    }

</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col plot">
            <div class="text-center">
            {{plot.to_html}}
        </div>
        </div>
    </div>

    <div class="row"></div>
        <div class="markdown col">
            {{about|safe}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img width="30%" src="{% static 'logos.png' %}"></img>
        </div>
    </div>
</div>
{% endblock %}


{% block page_js %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}