{% extends 'base.html' %}
{% load static %}

{% block page_title %}Multiples Plots{% endblock %}
{% block title %}Multiples Plots{% endblock %}

{% block page_css %}
<style>
    .markdown  h1{
        display: none;
    }

    .plot {
        margin-bottom: 30px;
    }

</style>
{% endblock %}


{% block content %}

Algunas de las visualizaciones:

<div class="container-fluid">
    <div class="row">
        <div class="col plot">
            <div class="text-center">
                {% for plot in plots %}
                <span class="matplotlib-plot-container">
                    {{ plot.to_html }}
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block page_js %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}