{% extends 'base.html' %}
{% load static %}

{% block page_title %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block page_css %}
<style>
.markdown  h1{
        display: none;
    }

.plot {
    margin-bottom: 30px;
    list-style: none;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25em;
    left: 5em;
    width: 9em}
ul.navbar li 
    margin: 0.2em 0;
    padding: 0.1em;
    border: 0.1em solid black }
ul.navbar a {
    text-decoration: none }
</style>
{% endblock %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block content %}
<!-- Mapa-->
<!-- /.container -->

<div class="container">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{mapa|safe}}</div>#}
    <div class="col-md-12">{{mapa|safe}}</div>

</div>


<!-- Menú de navegación del sitio -->
<ul class="navbar">
	<h2><li><a href="{% url 'dashboard_a' %}">Argentina</a></h2>
    <h2><li><a href="{% url 'dashboard_c' %}">Córdoba</a></h2>	
</ul>
{% endblock %}


{% block page_js %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}
