## EDIT ME!

import os
import pathlib

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
PROJECT_DIR = pathlib.Path(os.path.abspath(os.path.dirname(__file__)))


SHELL_PLUS = "ipython"


# Database
# https://docs.djangoproject.com/en/3.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': str(PROJECT_DIR / 'db.sqlite3'),
    }
}

ATTACHMENTS = f"{PROJECT_DIR}/_attachments"